name: 'Build OpenWrt for mediatek'
 
on:
  workflow_dispatch:
    inputs:
      source_branch:
        description: 'Select the source branch'
        required: false
        default: 'immortalwrt-mt798x'
        type: choice
        options:
         - immortalwrt-mt798x
         - immortalwrt
         - lede
      openwrt_board:
        description: 'Select device board'
        required: false
        default: 'ax3000t'
        type: choice
        options:
          - ax3000t
      diy_config:
        description: 'Load custom configuration'
        required: false
        default: true
        type: boolean

jobs:
  Caller:
    if: github.event.repository.owner.id == github.event.sender.id
    uses: ./.github/workflows/build.yml
    with:
      source_branch: ${{ inputs.source_branch }}
      openwrt_target: mediatek
      openwrt_board: ${{ inputs.openwrt_board }}
      diy_config: ${{ inputs.diy_config }}