name: 'Package OpenWrt for armv8'
 
on:
  workflow_dispatch:
    inputs:
      source_branch:
        description: 'Select the source branch'
        required: false
        default: 'lede'
        type: choice
        options:
         - immortalwrt
         - lede
      package_method:
        description: 'Select package method'
        required: false
        default: 'flippy'
        type: choice
        options:
          - flippy
          - ophub
      package_board:
        description: 'Select device board'
        required: false
        default: 'all'
        type: choice
        options:
          - all
      package_kernel:
        description: 'Select kernel version'
        required: false
        default: '6.12.y'
        type: choice
        options:
          - 5.4.y
          - 5.10.y
          - 5.15.y
          - 6.1.y
          - 6.6.y
          - 6.12.y
      package_auto_kernel:
        description: 'Auto use the latest kernel'
        required: false
        default: true
        type: boolean
env:
  SOURCE_BRANCH: ${{ inputs.source_branch }}
  OPENWRT_TARGET: armv8
  OPENWRT_IP: 10.10.10.1

jobs:
  Package:
    runs-on: ubuntu-24.04
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - name: 'Checkout'
        uses: actions/checkout@main

      - name: 'Initialization [${{ inputs.source_branch }}] [${{ inputs.package_method }}] [${{ inputs.package_board }}] [${{ inputs.package_kernel }}]'
        id: init
        uses: ./.github/actions/init-system

      - name: 'Download Firmware'
        id: download
        working-directory: /builder
        if: ${{ steps.init.outputs.status == 'success' }}
        run: |
          URL="$(curl -s "https://api.github.com/repos/${GITHUB_REPOSITORY}/releases/tags/${OPENWRT_TARGET}" | grep -o '"browser_download_url": "[^"]*'"${SOURCE_BRANCH}"'.*rootfs\.tar\.gz"' | cut -d '"' -f 4)"
          OUTPUT_PATH='openwrt/output'
          mkdir -p ${OUTPUT_PATH}
          ln -sfn /builder/openwrt "${GITHUB_WORKSPACE}/openwrt"
          ln -sfn /builder/openwrt /home/runner/work/_actions/ophub/amlogic-s9xxx-openwrt/main/openwrt
          cd ${OUTPUT_PATH}
          curl -fsSLO "${URL}" || wget -q "${URL}"
          echo "OUTPUT_PATH=${PWD}" >> ${GITHUB_ENV}
          echo "status=success" >> ${GITHUB_OUTPUT}

      - name: 'Package OpenWrt Firmware [flippy]'
        if: ${{ steps.download.outputs.status == 'success' && inputs.package_method == 'flippy' }}
        # uses: ophub/flippy-openwrt-actions@main
        uses: ./.github/actions/flippy-openwrt-wrapper
        env:
          OPENWRT_ARMSR: openwrt/output/*rootfs.tar.gz
          PACKAGE_SOC: ${{ inputs.package_board }}
          KERNEL_REPO_URL: ophub/kernel
          KERNEL_VERSION_NAME: ${{ inputs.package_kernel }}
          KERNEL_AUTO_LATEST: ${{ inputs.package_auto_kernel }}
          WHOAMI: ${{ github.repository_owner }}

      - name: 'Package OpenWrt Firmware [ophub]'
        if: ${{ steps.download.outputs.status == 'success' && inputs.package_method == 'ophub' }}
        uses: ophub/amlogic-s9xxx-openwrt@main
        with:
          openwrt_path: openwrt/output/*rootfs.tar.gz
          openwrt_board: ${{ inputs.package_board }}
          openwrt_kernel: ${{ inputs.package_kernel }}
          auto_kernel: ${{ inputs.package_auto_kernel }}
          builder_name: ${{ github.repository_owner }}

      - name: 'Organize Packaged Files'
        working-directory: ${{ env.PACKAGED_OUTPUTPATH }}
        id: orgpkg
        if: env.PACKAGED_OUTPUTPATH != '' && env.PACKAGED_STATUS == 'success'
        run: |
          find . -maxdepth 1 -mindepth 1 ! -name '*.gz' -exec rm -fv -- {} +
          for FILE in *rootfs.tar.gz *squashfs-sysupgrade.{bin,img.gz}; do
            [[ -e "${FILE}" ]] || continue
            NEW_NAME="$(echo "${FILE}" | sed "s/\(immortalwrt\|openwrt\)/${SOURCE_BRANCH}/g")"
            [[ "${FILE}" != "${NEW_NAME}" ]] && mv -f -- "${FILE}" "${NEW_NAME}"
          done
          for FILE in *.img.gz; do
            [[ -e "${FILE}" ]] || continue
            KERNEL="$(echo "${FILE}" | sed -n 's/.*_\(\(k6\|k5\)\.[0-9]\+\)\.[0-9]\+.*/\1+/p')"
            NEW_NAME="$(echo "${FILE}" | sed -E "s/R[0-9]+\.[0-9]+\.[0-9]+//g; s/__/_/g; s/openwrt/${SOURCE_BRANCH}/g; s/_k.*\.img\.gz/_${KERNEL}.img.gz/")"
            [[ "${FILE}" != "${NEW_NAME}" ]] && mv -f -- "${FILE}" "${NEW_NAME}"
          done
          echo "OUTPUT_DATE=${PACKAGED_OUTPUTDATE}" >> ${GITHUB_ENV}
          echo "OUTPUT_PATH=${PACKAGED_OUTPUTPATH}" >> ${GITHUB_ENV}
          echo "status=success" >> ${GITHUB_OUTPUT}

      - name: 'Upload Openwrt To Release'
        if: steps.orgcmp.outputs.status == 'success' || steps.orgpkg.outputs.status == 'success'
        uses: ncipollo/release-action@main
        with:
          name: v${{ env.OUTPUT_DATE }}
          tag: package
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          removeArtifacts: true
          artifacts: ${{ env.OUTPUT_PATH }}/*.gz
          prerelease: true
          body: |
            > OpenWrt for ${{ env.OPENWRT_TARGET }}
            - Default IP: `${{ env.OPENWRT_IP }}`
            - Default username: `root`
            - Default password: `password`

      - name: 'Delete Releases And Workflows Runs'
        uses: ophub/delete-releases-workflows@main
        with:
          delete_releases: true
          releases_keep_latest: 5
          delete_workflows: true
          workflows_keep_day: 2
          gh_token: ${{ secrets.GITHUB_TOKEN }}